In [2]:
import sqlite3
import pandas as pd

In [3]:
zipcode = pd.read_csv('zip_code_database.csv')

In [4]:
zipcode.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
0,501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [5]:
new_zipcode = zipcode[["zip", "latitude", "longitude"]]

In [6]:
new_zipcode

         zip  latitude  longitude
0        501     40.81     -73.04
1        544     40.81     -73.04
2        601     18.16     -66.72
3        602     18.38     -67.18
4        603     18.43     -67.15
...      ...       ...        ...
42627  99926     55.14    -131.49
42628  99927     56.30    -133.57
42629  99928     55.45    -131.79
42630  99929     56.41    -131.61
42631  99950     55.34    -131.64

[42632 rows x 3 columns]

In [7]:
new_zipcode.to_csv("zipcode.csv", index = False, header = True)

In [3]:
read_zipcode = pd.read_csv('zipcode.csv')

In [4]:
read_zipcode.head()

   zip  latitude  longitude
0  501     40.81     -73.04
1  544     40.81     -73.04
2  601     18.16     -66.72
3  602     18.38     -67.18
4  603     18.43     -67.15

In [6]:
#create sqlite
cnx = sqlite3.connect('zipcode_db.sqlite')
read_zipcode.to_sql('zipcode', cnx)